<!DOCTYPE html>
<html lang="en"><html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"><head>
    <meta charset="UTF-8">
    <title>Add comment</title>
</head>
<body>

<div class="container mt-5 mb-5">
    <h1>Add comment</h1>
    <form action="/comment/add" method="post">
        <textarea type="text" name="comment" placeholder="Enter comment" class="form-control"></textarea><br>
        <button type="submit" class="btn btn-success">Add comment</button>
    </form>

</div>
</body>
</html>