<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>new User</title>
</head>
<body>
<div class="container mt-5 mb-5">
    <h1>Add post</h1>
    <form action="/user/new" method="post">
        <input type="text" name="name" placeholder="Enter name" class="form-control"><br>
        <input type="text" name="password" placeholder="enter password" class="form-control"><br>
        <input type="text" name="matchingPassword" placeholder="enter matchingPassword" class="form-control"><br>
        <input type="text" name="email" placeholder="enter email" class="form-control"><br>
        <button type="submit" class="btn btn-success">Save</button>
    </form>

</div>
</body>
</html>